.navbar-brand {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 15px;
    margin-left: -5%;
  }
  
  #navbarNav {
    margin-left: 6%;
  }
  
  #nav-custom {
    font-family: Arial, Helvetica, sans-serif;
  }
  